/* Table */

/* Normal size */
.contentTable {
    border-collapse: collapse;
    font-size: 0.95em;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
}

.contentTable thead tr {
    background-color: #15171b;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid #2b2d35;
}

.contentTable th, .contentTable td {
    padding: 20px 15px;
    width: 5%;
}

.contentTable span {
    padding: 5px;
    vertical-align: middle;
}

.contentTable img {
    width: 10%;
    height: auto;
}

.contentTable svg {
    width: 25px;
}

.contentTable tbody tr {
    background-color: #15171b;
    border-bottom: 1px solid #2b2d35;
}

.contentTable tbody tr:last-of-type {
    border-bottom: none;
}

/* Smaller screens */
@media (max-width: 700px) {
    .contentTable {
        font-size: 0.85em;
    }

    .contentTable th, .contentTable td {
        padding: 15px 10px;
    }

    .contentTable span {
        padding: 3px;
    }

    .contentTable svg {
        width: 15px;
    }
}

/* Smaller screens */
@media (max-width: 500px) {
    .contentTable {
        font-size: 0.6em;
    }

    .contentTable th, .contentTable td {
        padding: 10px 5px;
    }

    .contentTable span {
        padding: 2px;
    }

    .contentTable svg {
        width: 10px;
    }
}

@media (max-width: 380px) {
    .contentTable {
        font-size: 0.4em;
    }
}

/* Pagination */

.pagination {
    display: inline-block;
    text-align: center;
    background-color: #15171b;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
}

.pagination a {
    color: white;
    padding: 16px;
    font-size: 1em;
}

.pagination a:hover {
    color: #6b7184;
}

@media (max-width: 700px) {
    .pagination {
        padding: 12px;
        width: 325px;
    }

    .pagination a {
        padding: 10px;
        font-size: 0.8em;
    }
}

@media (max-width: 500px) {
    .pagination {
        padding: 10px;
        width: 200px;
    }

    .pagination a {
        padding: 6px;
        font-size: 0.6em;
    }
}

/* Pagination text colours */
.active {
    color: #1bec76 !important;
    cursor: default !important;
}

.inactive {
    color: #9d9d9d !important;
    cursor: default !important;
}

/* ------------ Misc ------------ */

/* Loading container */

.padContainer {
    display: flex;
    justify-content: center;
    padding: 125px;
    font-size: 0.8em;
}

.padContainer h1 {
    color: #6b7184;
}

@media (max-width: 1000px) {
    .padContainer {
        font-size: 0.5em;
        padding: 100px;
    }
}

/* Loading dots */

.padContainer h1:after {
  content: '.';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
    }
  40% {
    color: #6b7184;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
    }
  60% {
    text-shadow:
      .25em 0 0 #6b7184,
      .5em 0 0 rgba(0,0,0,0);
    }
  80%, 100% {
    text-shadow:
      .25em 0 0 #6b7184,
      .5em 0 0 #6b7184;
    }
}
