/* This does not dynamically rescale and center */

/* Table */

.contentTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.contentTable thead tr, .contentTable tfoot tr {
    background-color: #15171b;
    color: white;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #2b2d35;
}

.contentTable th, .contentTable td {
    padding: 20px 15px;
}

.contentTable span {
    padding: 5px;
    vertical-align: middle;
}

.contentTable tbody tr {
    background-color: #15171b;
    border-bottom: 1px solid #2b2d35;
}

/* The last border is going to contain the next npage pagination thing https://youtu.be/biI9OFH6Nmg?t=419 */

/* Pagination */

.pagination {
    display: inline-block;
}