/* Table */

/* Table wrapper */
.tableWrapper {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

/* Normal size */
.contentTable {
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 1em;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
}

.contentTable thead tr {
    background-color: #15171b;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid #2b2d35;
}

.contentTable th,
.contentTable td {
    padding: 20px 15px;
}

.contentTable span {
    padding: 5px;
    vertical-align: middle;
}

.contentTable img {
    width: 10%;
}

.contentTable svg {
    width: 25px;
}
.contentTable tbody tr {
    background-color: #15171b;
    border-bottom: 1px solid #2b2d35;
}

.contentTable tbody tr:last-of-type {
    border-bottom: none;
}

/* Smaller screens */
@media (max-width: 600px) {
    .contentTable {
        font-size: 0.8em;
    }

    .contentTable th,
    .contentTable td {
        padding: 15px 10px;
    }

    .contentTable span {
        padding: 3px;
    }

    .contentTable svg {
        width: 15px;
    }
}

/* Smaller screens */
@media (max-width: 320px) {
    .contentTable {
        font-size: 0.6em;
    }

    .contentTable th,
    .contentTable td {
        padding: 10px 5px;
    }

    .contentTable span {
        padding: 2px;
    }

    .contentTable svg {
        width: 10px;
    }
}

/* Pagination */

.pagination {
    width: 60%;
    min-width: 480px;
    background-color: #15171b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 10px;
    margin: 40px auto;
}

.pagination a {
    color: white;
    padding: 20px;
    font-size: 1em;
}

.pagination a:hover {
    color: #6b7184;
}

@media (max-width: 600px) {
    .pagination {
        width: 100%;
        min-width: unset;
        flex-direction: column;
        background-color: unset;
        padding: none;
        margin: 20px auto;
    }

    .pagination a {
        width: 40%;
        min-width: 80px;
        background-color: #15171b;
        border-radius: 5px;
        padding: 15px;
        font-size: 0.8em;
        margin: 5px auto;
    }
}

@media (max-width: 320px) {
    .pagination a {
        padding: 10px;
        font-size: 0.6em;
    }
}

/* Pagination text colours */
.active {
    color: #1bec76 !important;
    cursor: default !important;
}

.inactive {
    color: #9d9d9d !important;
    cursor: default !important;
}

/* ------------ Misc ------------ */

/* Loading container */

.padContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 125px;
    font-size: 0.8em;
}

.padContainer h1 {
    color: #6b7184;
}

@media (max-width: 600px) {
    .padContainer {
        font-size: 0.5em;
        padding: 100px;
    }
}

/* Loading dots */

.padContainer h1:after {
    content: ".";
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: #6b7184;
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: 0.25em 0 0 #6b7184, 0.5em 0 0 rgba(0, 0, 0, 0);
    }
    80%,
    100% {
        text-shadow: 0.25em 0 0 #6b7184, 0.5em 0 0 #6b7184;
    }
}
