* {
    text-decoration: none !important;
    font-family: "Inter var", sans-serif;
}

body {
    background-color: #0c0c0c;
}

.container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.textWhite {
    color: white;
}

.textGreen {
    color: #1bec76;
}

.textRed {
    color: #e43939;
}

.textLight {
    color: #6b7184;
}