* {
    text-decoration: none;
}

html, body {
    font-family: "Inter var", sans-serif;
    background-color: #0c0c0c;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    margin: 40px auto;
}

.textWhite {
    color: white;
}

.textGreen {
    color: #1bec76;
}

.textRed {
    color: #e43939;
}

.textLight {
    color: #6b7184;
}
