* {
    text-decoration: none !important;
    font-family: "Inter var", sans-serif;
}

body {
    background-color: #2b2d35;
}

.container {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.textWhite {
    color: white;
}

.textGreen {
    color: #1bec76;
}

.textRed {
    color: #e43939;
}

.textLight {
    color: #6b7184;
}