/* Regular header */

/* Normal size */
.header {
    text-align: center;
    width: 90%;
    padding-bottom: 20px;
}

.header a {
    color: inherit;
}

.header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
}

.header h2 {
    color: #6b7184;
    font-size: 1em;
    letter-spacing: 0.5px;
}

.header h3 {
    color: white;
    font-size: 1.2em;
    width: 70%;
    margin: auto;
}

/* Smaller screens */
@media (max-width: 500px) {
    .header h1 {
        font-size: 1.2em;
    }

    .header h2 {
        font-size: 0.4em;
    }

    .header h3 {
        width: 90%;
        font-size: 0.5em;
    }
}

/* Disclaimer */

/* Normal size */
.disclaimer {
    overflow: hidden;
    width: 90%;
    text-align: center;
    margin: auto;
}

.disclaimer h4 {
    color: #e43939;
    font-size: 0.8em;
    font-weight: bold;
}

/* Smaller screens */
@media (max-width: 500px) {
    .disclaimer {
        width: 70%;
    }

    .disclaimer h4 {
        font-size: 0.4em;
    }
}