/* There are resizing issues with this */

.header {
    text-align: center;
    background-color: #15171b;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    width: 80%;
    min-width: 500px;
}

.header h1 {
    color: white;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 5px;
}

.header h2 {
    color: #6b7184;
    font-size: 1em;
    letter-spacing: 0.5px;
}

.header h3 {
    color: white;
    font-size: 1.2em;
}

.header h4 {
    color: #e43939;
    font-size: 0.8em;
    font-weight: bold;
}