/* Regular header */

/* Normal size */
.header {
    text-align: center;
    padding-bottom: 20px;
}

.header a {
    color: inherit;
}

.header h1 {
    color: white;
    font-size: 4em;
    font-weight: bold;
}

.header h2 {
    color: #6b7184;
    font-size: 1.2em;
    letter-spacing: 0.5px;
}

.header h3 {
    color: white;
    font-size: 1.2em;
    margin: auto;
    width: 70%;
}

/* Smaller screens */
@media (max-width: 700px) {
    .header h1 {
        font-size: 2.5em;
    }

    .header h2 {
        font-size: 1em;
    }

    .header h3 {
        font-size: 0.9em;
    }
}

/* Smaller screens */
@media (max-width: 500px) {
    .header h1 {
        font-size: 2em;
    }

    .header h2 {
        font-size: 0.7em;
    }

    .header h3 {
        font-size: 0.7em;
    }
}

/* Disclaimer */

/* Normal size */
.disclaimer {
    overflow: hidden;
    text-align: center;
    margin: auto;
    width: 80%;
}

.disclaimer h4 {
    color: #e43939;
    font-size: 1.2em;
    font-weight: bold;
}

/* Smaller screens */
@media (max-width: 700px) {
    .disclaimer h4 {
        font-size: 1em;
    }
}

/* Smaller screens */
@media (max-width: 500px) {
    .disclaimer h4 {
        font-size: 0.8em;
    }
}